 @import "tailwindcss";


 .inter-text{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
} 

 main,header{
    max-width:1140px;
    margin: 0 auto;
    /* background-color: rgb(3, 80, 80); */

 }
 .nav {
    width: 1140px;
    height: 71px;
    justify-content:space-between;
    align-items: center;
 }
 .cart{
    align-items: center;
 }
 .logos{
    width: 24px;
    height: 24px;
 }
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
   text-justify:auto;  
  size: 34px;
  margin: 0 150px;
  gap: 48px;
  white-space: nowrap;
   
}
.always{
    /* width: 1440px; */
    height: 461px;
   
}

.home{
    color: rgba(37, 36, 50, 1);
    /* font-weight: 800; */
}
.plants{
    text-justify: auto;
    align-items: center;
    /* color: #ff9147; */
    text-align: center;
    margin-bottom: 10px;

}
/* ===============================..........================================================= */

main{
    margin:0 auto;
}

.card{
    width: 270px;
    height:323px;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.img{
    width:270px;
    height:323px;
}
.lily{
    width:270px;
    height: 132px;
}
.btn{
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    background-position:100%;  
    
   height: 50px;
   width: 270px;
   border: none;
   padding: 10px 36px;
   white-space: nowrap;
}

/* ..................................Badge Container.................................................. */




.container {
    display: flex;
    /* width: 1140px;
    height:597px;  */
    
    justify-content:center;
    /* align-items:center; */
    
    gap: 60px;  
    
    margin-top: 200px;
}

.image-section {
  position: relative;
  width:auto;
}

.main-image {
  width:800px;
  height:auto;
  border-radius: 8px;
}

.badge {
  position: absolute;
  top: -150px;
  right: -80px;
  width: 286px;
  height: 286px;
  z-index: 1;
}
/* >>.>>>>>>>>>>>>>....>>>>>>>> image-combo >>>>>>>>>>>>>>..................>..................... */
.text-center{
    margin-top:0.1px;
}

.image-combo{
    display:grid;
    grid-template-columns:1fr 2fr;    
    gap: 10px;
    background-position: center;
    /* justify-content: center; */
    position: relative;
    margin-top: 120px;
    
    gap: 28px;
}
.Bloom-Plant{
    height: 206px;
    width: 366px;
    display: flex;
    flex-direction: column;
    background-image:url(/B12A02-Responsive-Flowers/assets/deal-bloom.png);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden;
}
.Zabo-Plant{
    height: 423px;
    width: 753px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-zabo.png);
    border-radius: 22px;
}
.Ana-Plant{
    width: 366px;
    height: 206px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-ana.png);
    margin-top: 30px;
    border-radius: 14px;
}
/* ........................>>>>>>>>>>>>>  Join the colorful Bunch    <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.colorful-bunch{ position: initial;
    width:100%;
    height: 533px;
    margin:none;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    text-align: center;
    background-image:url(/B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    background-size: cover;    
    background-repeat: no-repeat;
    position: relative;
    margin-top: 120px;
    
}
.btnn{
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    background-position:100%;    
    height: 50px;
    width: 186px;
    border: none;
    white-space: nowrap;


}
/* ....................... Footer .......................... */


.footer{
    background-color:#ffff;
    background-size: cover;
    width: 100%;
    height: 348PX;
    background-repeat: no-repeat;
    position: relative;
    
    
    
    
}
.boxx{
    background-color: #ffff;
    display: flex;

    /* flex-direction: column; */
    max-width: 1120px;
    height:248px ;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px auto;
}
.apps{
    display: flex;
    flex-direction:row;
    align-items:center;
    gap: 10px;
}
.features{
    display:flex;
    flex-direction:column;
    gap: 10px;
    white-space: nowrap;
   
}
.homee{
    display: flex;
    flex-direction:column;
    gap: 10px;
    white-space: nowrap;

}


/* .........................Reapons for Mobile................... */

@media (max-width: 768px) {
  .nav {
    width: 100%;
    padding: 10px 20px;
    height: auto;
    flex-direction: row;
    align-items: center;
    margin:18px;
  }

  .logo {
    flex-direction: row;
    margin: 0;
    gap: 10px;
  }

  /* Home, Shop, About Us remove on mobile */
  .nav a, 
  .home, 
  .shop, 
  .about,.badge {
    display: none;
  }
  /* text reverse */

  .always {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .plants {
    order: -1;           
    margin-bottom: 20px;
  }
  .card-container{
    /* display: grid; */
    grid-template-columns:repeat(2,1fr);
    gap: 15px;
    margin:18px;
  }
  .img,.btn,.lily{
    width: 100%;
  }
  .container{
    flex-direction: column;
    margin: 18px;
  }
  .image-section{
    position: relative;
  }
  .main-image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .text-section{
    text-align: center;
    margin-top: 20px;
  }
  .image-combo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 16px; 
    
    height:auto; 
    min-height:60px;
  }
  .colorful-bunch{
    width: 393px;
    height: 276px;
    display: flex;
    flex-direction:column;
    align-items:initial;
    margin-left: 20px;
    
  }
  .join{
    font-size: 20px;

  }
  .tybox{
    display: flex;
    
  }
  
  .boxx {
    flex-direction: column;
    text-align: left;
    padding: 20px;
    margin-top: 30px;
    height: auto;
    padding: 20px; 
    max-width:auto;
    height:auto ;
    gap: 26px;
  }

  .boxx > div {
    width: 100%;
    text-align: left;
  }
  .Zabo-Plant{
    margin-right: 10px;
  }
  
  
}

