 @import "tailwindcss";


 .inter-text{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
} 

 body{
    max-width:1140px;
    margin: 0 auto;
    /* background-color: rgb(3, 80, 80); */

 }
 .nav {
    width: 1140px;
    height: 71px;
    justify-content:space-between;
    align-items: center;
 }
 .cart{
    align-items: center;
 }
 .logos{
    width: 24px;
    height: 24px;
 }
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
   text-justify:auto;  
  size: 34px;
  margin: 0 150px;
  gap: 48px;
  white-space: nowrap;
   
}
.always{
    /* width: 1440px; */
    height: 461px;
   
}

.home{
    color: rgba(37, 36, 50, 1);
    /* font-weight: 800; */
}
.plants{
    text-justify: auto;
    align-items: center;
    /* color: #ff9147; */
    text-align: center;
    margin-bottom: 10px;

}
/* ================================================================================= */
main{
    margin:0 auto;
}

.card{
    width: 270px;
    height:323px;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.img{
    width:270px;
    height:323px;
}
.lily{
    width:270px;
    height: 132px;
}
.btn{
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    background-position:100%;  
    /* border-radius: 10px; */ 
   height: 50px;
   width: 270px;
   border: none;
   padding: 10px 36px;
   white-space: nowrap;
}


/* ..................................Badge Container.................................................. */



/* .container{
    width: 1140px;
    height: 597px;
    background-color: blueviolet;
    display: flex;
    align-items:flex-start;
    position: relative;
    gap: 60px;
    margin-top: 200px;
} */
.container {
    display: flex;
    /* width: 1140px;
    height:597px;  */
    
    justify-content:center;
    /* align-items:center; */
    
    gap: 60px;  
    /* position: relative; */
    /* border:solid; */
    margin-top: 200px;
}

.image-section {
  position: relative;
  width:auto;
}

.main-image {
  width:800px;
  height:auto;
  border-radius: 8px;
}

.badge {
  position: absolute;
  top: -150px;
  right: -80px;
  width: 286px;
  height: 286px;
  z-index: 1;
}
/* >>.>>>>>>>>>>>>>....>>>>>>>> image-combo >>>>>>>>>>>>>>..................>..................... */

.image-combo{
    display:grid;
    grid-template-columns:1fr 2fr;    
    gap: 10px;
    background-position: center;
    /* justify-content: center; */
    position: relative;
    margin-top: 120px;
    gap: 28px;
}
.Bloom-Plant{
    height: 206px;
    width: 366px;
    display: flex;
    flex-direction: column;
    background-image:url(/B12A02-Responsive-Flowers/assets/deal-bloom.png);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden;
}
.Zabo-Plant{
    height: 423px;
    width: 753px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-zabo.png);
    border-radius: 22px;
}
.Ana-Plant{
    width: 366px;
    height: 206px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-ana.png);
    margin-top: 30px;
    border-radius: 14px;
}
/* ........................>>>>>>>>>>>>>  Join the colorful Bunch    <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.colorful-bunch{
    
}

